.pieDiv {
  background-color: #000000;
  width: 100%;
  display: flex;
  padding: 30px 40px;
  box-shadow: 0 -6px 20px rgba(0, 0, 0, 0.25);
}
.pieIzqDiv {
  color: #ffffff;
  width: 45%;
  text-align: left;
  font-size: 14px;
  letter-spacing: 1px;
}
.pieDerDiv {
  color: #ffffff;
  width: 45%;
  text-align: right;
  font-size: 14px;
  letter-spacing: 1px;
}
